@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

html {
  background-color: hsl(0, 0%, 0%);
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: hsla(202, 97%, 39%, 0.6);
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  /* margin: 2em auto auto auto; */
  max-width: 50%;
  border: 0;
  height: 80%;
  color: hsl(200, 6%, 81%);
}

body a {
  color: hsl(208, 25%, 78%);
}

body li {
  list-style-type: none;
  text-align: center;
  margin: auto;
  padding: 5px;
  position: relative;
  right: 1em;
}

body li:hover {
  /* color: hsl(0, 0%, 96%); */
  transform: scale(1.05);
}

body li a {
  text-decoration: none;
}

body li a:hover {
  text-decoration: underline;
}

#intro {
  width: 70%;
  margin-top: 0;
  text-align: center;
  line-height: 1.5em;
}

@media (max-width: 800px) {
  html {
    background-color: hsl(0, 0%, 0%);
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 24px;
    margin-bottom: auto;
  }

  h2 {
    font-size: 18px;
    margin-top: 0.5em;
  }

  body {
    display: flex;
    font-size: 14px;
    max-width: 90vw;
    padding: 0;
    /* margin: auto; */
  }

  ul {
    margin-top: 0.5em;
    padding-top: 0%;
  }
}
