@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}



body {
  background-color: hsla(240, 40%, 6%, 0.822);
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  /* align-items: center;
  justify-content: center; */
}

.container {
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  /* margin: 2em auto auto auto; */
  max-width: 80%;
  max-height: 90%;
  border: 0;
  /* height: 80%; */
  color: hsl(200, 6%, 81%);
}

.container h1:first-of-type {
  margin-top: 1em;
}

.container a {
  color: hsl(208, 25%, 78%);
}

.container li {
  list-style-type: none;
  text-align: center;
  margin: auto;
  padding: 5px;
  position: relative;
  right: 1em;
}

.container li:hover {
  /* color: hsl(0, 0%, 96%); */
  transform: scale(1.05);
}

.container li a {
  text-decoration: none;
}

.container li a:hover {
  text-decoration: underline;
}

.container li:last-of-type {
  margin-bottom: 2em;
}

#intro {
  width: 70%;
  margin-top: 0;
  text-align: center;
  line-height: 1.5em;
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
    max-width: 90vw;
  }

  h1 {
    font-size: 24px;
    margin-bottom: auto;
  }

  h2 {
    font-size: 18px;
    margin-top: 0.5em;
  }

  ul {
    margin-top: 0.5em;
    padding-top: 0%;
  }
}
