* {
  box-sizing: border-box;
}

body {
  background-color: #0095dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

canvas {
  background: #f0f0f0;
  display: block;
  border-radius: 5px;
  margin-top: 1rem;
}

h1 {
  font-size: 45px;
  color: white;
}

.btn {
  cursor: pointer;
  border: 0;
  background: #000;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: #222;
}

.btn:active {
  transform: scale(0.98);
}

.rules.btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  color: #fff;
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 0.5s ease-in-out;
}

.show {
  transform: translateX(0);
}
