@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --success-color: hsl(120, 42%, 56%);
  --error-color: hsl(0, 78%, 57%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(208, 100%, 97%);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: 0 2px 10px #000;
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: hsl(0, 0%, 47%);
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid hsl(0, 0%, 94%);
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: hsl(0, 0%, 47%);
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 1;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: hsl(204, 70%, 53%);
  border: 2px solid hsl(204, 70%, 53%);
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 40px;
  width: 100%;
}
